<div class="collapse navbar-collapse navbar-right">
    <p class="navbar-text">{{ user.username }}</p>
    <ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-option-vertical"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li>{% if user.is_authenticated %}
                    <a href="{% url 'django.contrib.auth.views.logout' %}" data-ajax="false"><span class="glyphicon glyphicon-log-out"></span> Log out</a>{% else %}
                    <a href="{% url 'django.contrib.auth.views.login' %}" data-ajax="false"><span class="glyphicon glyphicon-log-in"></span> Log in</a>{% endif %}
                </li>
                {% if user.is_staff %}<li><a href="/admin/" data-ajax="false"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>{% endif %}
                <li><a href="#" data-toggle="modal" data-target="#about-modal"><span class="glyphicon glyphicon-info-sign"></span> About</a></li>
            </ul>
        </li>
    </ul>
</div>
</div>