{% load photoyotetags %}
<div class="dropdown {{name}}">
    <button class="btn btn-default dropdown-toggle" type="button" id="{{name}}" data-toggle="dropdown" data-role="none">
        <span id="{{name}}-selected-icon hide"></span>
        <span id="{{name}}-selected">Rating </span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="0">
            {% star-rating 0 fillup=2 %}
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="1">
            {% star-rating 1 %}
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="2">
            {% star-rating 2 %}
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="3">
            {% star-rating 3 %}
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="4">
            {% star-rating 4 %}
        </a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link" data-rating="5">
            {% star-rating 5 %}
        </a></li>
    </ul>
</div>