<div class="dropdown {{name}} {% if dropdown_class %}{{dropdown_class}}{% endif %}" role="group">
    <button class="btn btn-default dropdown-toggle {% if button_class %}{{button_class}}{% endif %}" type="button" id="{{name}}" data-toggle="dropdown" data-role="none">
        <span id="{{name}}-selected-icon" class="glyphicon glyphicon-folder-open {% if not has_icon %}hide{% endif %}"></span>
        <span id="{{name}}-selected" class="{{name}}-title">{{catalog}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for cat in catalog_list %}
        <li role="presentation" class="{{name}}-item"><a role="menuitem" tabindex="-1" href="#" class="{{name}}-link">{{cat.name}}</a></li>
        {% endfor %}{% if has_input_field %}
        <li role="presentation" class="divider endoflist"></li>
        <li role="presentation">
            <input type="text" class="form-control {{name}}-input" placeholder="Add..." id="bulk-{{name}}-new"
                   data-role="none" size="16">
        </li>
        {% else %}
        <li role="presentation" class="hide endoflist"></li>{% endif %}
    </ul>
</div>