<div class="dropdown {{name}}">
    <button class="btn btn-default dropdown-toggle" type="button" id="{{name}}" data-toggle="dropdown"
            data-role="none">
        <span id="{{name}}-selected-icon" class="glyphicon glyphicon-flag {%if not has_icon %}hide{% endif %}" style="color: grey"></span>
        <span id="{{name}}-selected">Label</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-None" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: grey"></span> None
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-Red" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: red"></span> Red
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-Yellow" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: yellow"></span> Yellow
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-Green" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: green"></span> Green
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-Blue" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: blue"></span> Blue
            </a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="#" id="{{name}}-Purple" class="{{name}}-link">
                <span class="glyphicon glyphicon-flag" style="color: purple"></span> Purple
            </a>
        </li>
    </ul>
</div>