<!DOCTYPE html>
{% load photoyotetags %}
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoYote</title>
    <link href="{% static 'jquery/jquery.mobile-1.4.5.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.mobile-1.4.5.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
<script>
    var copy_running = false;
    var copy_timer_id = -1;

    var process_running = false;
    var process_timer_id = -1;

    function clear_process_status() {
        $('#photo-process-status').hide();
        $("#photo-process-dismiss").hide();
        $('#photo-process-status').removeClass("alert-success alert-danger").addClass("alert-info");
        process_timer_id = -1;
    }

    function update_process_status(fields) {
        if (fields.running && !process_running) {
            if (process_timer_id != -1) {
                window.clearTimeout(process_timer_id);
                process_timer_id = -1;
            }
            $('#photo-process-status').removeClass("alert-success alert-danger").addClass("alert-info");
            $('#photo-process-status').show();
            $("#photo-process-file").show();
            process_running = true;
        } else
        if (!fields.running && process_running) {
            if (process_timer_id == -1) {
                if (fields.text.substr(0,5) == "Error") {
                    $('#photo-process-status').removeClass("alert-info").addClass("alert-danger");
                    $("#photo-process-dismiss").show();
                } else {
                    $('#photo-process-status').removeClass("alert-info").addClass("alert-success");
                    process_timer_id = window.setTimeout(clear_process_status, 10000);
                }
                $("#photo-process-file").hide();
            }
            process_running = false;
        }

        if (fields.running) {
            $("#photo-process-progress > .progress-bar").css("width", fields.progress+"%");
            $("#photo-process-file").text(fields.filename);
            $("#photo-process-text").text(fields.text);
        } else {
            $("#photo-process-progress > .progress-bar").css("width", fields.progress+"%");
            $("#photo-process-text").text(fields.text);
        }
    }

    function clear_copy_status() {
        $('#card-copy-status').hide();
        $("#card-copy-dismiss").hide();
        $('#card-copy-status').removeClass("alert-success alert-danger").addClass("alert-info");
        copy_timer_id = -1;
    }

    function update_copy_status(fields) {
        if (fields.running && !copy_running) {
            if (copy_timer_id != -1) {
                window.clearTimeout(copy_timer_id);
                copy_timer_id = -1;
            }
            $('#card-copy-status').removeClass("alert-success alert-danger").addClass("alert-info");
            $('#card-copy-status').show();
            $("#card-copy-file").show();
            copy_running = true;
        } else
        if (!fields.running && copy_running) {
            if (copy_timer_id == -1) {
                if (fields.text.substr(0,5) == "Error") {
                    $('#card-copy-status').removeClass("alert-info").addClass("alert-danger");
                    $("#card-copy-dismiss").show();
                } else {
                    $('#card-copy-status').removeClass("alert-info").addClass("alert-success");
                    copy_timer_id = window.setTimeout(clear_copy_status, 10000);
                }
                $("#card-copy-file").hide();
            }
            copy_running = false;
        }

        if (fields.running) {
            $("#card-copy-progress > .progress-bar").css("width", fields.progress+"%");
            $("#card-copy-file").text(fields.filename);
            $("#card-copy-text").text(fields.text);
            $("#card-copy-current-item").text(fields.current_item);
            $("#card-copy-total-items").text(fields.total_items);
        } else {
            $("#card-copy-progress > .progress-bar").css("width", fields.progress+"%");
            $("#card-copy-text").text(fields.text);
        }
    }

    function get_status() {
        $.ajax({
            url: "{% url 'status' %}",
            type: "GET",
            dataType: "json",
            timeout: 1000,
            success: function(json) {
                var tval = 1000;
                for (idx=0; idx < json.length; idx++) {
                    var fields=json[idx].fields;
                    if (fields.name == 'import') {
                        update_copy_status(fields);
                        if (copy_running) tval = 500;
                    } else
                    if (fields.name == 'process') {
                        update_process_status(fields);
                        if (process_running) tval = 500;
                    }
                }
                window.setTimeout(get_status, tval);
            },
            error: function(xhr, status, errorThrown) {
                var tval = 1000;
                if (status != "timeout") {
                    console.log("Error: "+errorThrown);
                    console.log("Status: "+status);
                    console.dir( xhr);
                    tval = 10000;
                }
                window.setTimeout(get_status, tval);
            }
        });
    }

    $(document).ready(function(){
        $("#photo-process-dismiss").on("click", clear_process_status);
        $("#card-copy-dismiss").on("click", clear_copy_status);
        get_status();
    });
</script>
<h1>PhotoYote</h1>
<div id="card-copy-status" class="alert alert-info" style="display: none">
    <div>
        <div class="pull-left">Importing media</div>
        <div class="pull-right">
            <span id="card-copy-current-item">1</span>/<span id="card-copy-total-items">100</span>
        </div>
    </div>
    <br>
    <div id="card-copy-progress" class="progress">
        <div class="progress-bar" role="progressbar">
        </div>
    </div>
    <span id="card-copy-show-file">
        <span id="photo-copy-directory">EOS_DIGITAL-DEAD-BEEF</span>/<span id="photo-copy-file">img_2149.cr2</span>
    </span>
    <span id="card-copy-show-text">
        <span id="card-copy-text">Done</span>
    </span>
    <div id="card-copy-dismiss" class="pull-right" style="display: none">
        <button type="button" class="btn btn-default"  data-role="none">
            <span class="glyphicon glyphicon-remove"> Dismiss</span>
        </button>
    </div>
</div>
<div id="photo-process-status" class="alert alert-info" style="display: none">
    <div>Processing media</div>
    <div id="photo-process-progress" class="progress">
        <div class="progress-bar" role="progressbar">
        </div>
    </div>
    <span id="photo-process-show-file">
        <span id="photo-process-file">img_2149.cr2</span>
    </span>
    <span id="photo-process-show-text">
        <span id="photo-process-text"></span>
    </span>
    <div id="photo-process-dismiss" class="pull-right" style="display: none">
        <button type="button" class="btn btn-default"  data-role="none">
            <span class="glyphicon glyphicon-remove"> Dismiss</span>
        </button>
    </div>
</div>

{% for catalog, media_list in all_media_list %}
<h2><a href="{% url 'lighttable' catalog.id %}" data-ajax="false">{{catalog}}</a></h2>
{% for media in media_list %}
<a href="{% url 'lighttable' catalog.id %}#{{media.id}}" id="{{media.id}}" data-ajax="false"><img src="{{media|thumbnail}}" /></a>
{% endfor %}
{% endfor %}

</body>
</html>