{% extends "base.html" %}

{% load photoyotetags %}
{% load static %}
{% block script %}
<style>
    .center {
        text-align: center;
    }

    .thumbnail-row {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .image-center-container {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: white;
    }

    .image-center-overlay {
        opacity: 0;
    }
</style>
<script>
    var copy_running = false;
    var copy_timer_id = -1;

    var process_running = false;
    var process_timer_id = -1;

    function clear_process_status() {
        $('#photo-process-status').hide();
        $("#photo-process-dismiss").hide();
        $('#photo-process-status').removeClass("alert-success alert-danger").addClass("alert-info");
        process_timer_id = -1;
    }

    function update_process_status(fields) {
        if (fields.running && !process_running) {
            if (process_timer_id != -1) {
                window.clearTimeout(process_timer_id);
                process_timer_id = -1;
            }
            $('#photo-process-status').removeClass("alert-success alert-danger").addClass("alert-info");
            $('#photo-process-status').show();
            $("#photo-process-file").show();
            process_running = true;
        } else
        if (!fields.running && process_running) {
            if (process_timer_id == -1) {
                if (fields.text.substr(0,5) == "Error") {
                    $('#photo-process-status').removeClass("alert-info").addClass("alert-danger");
                    $("#photo-process-dismiss").show();
                } else {
                    $('#photo-process-status').removeClass("alert-info").addClass("alert-success");
                    $("#photo-process-reload").show();
                }
                $("#photo-process-file").hide();
            }
            process_running = false;
        }

        if (fields.running) {
            $("#photo-process-progress > .progress-bar").css("width", fields.progress+"%");
            $("#photo-process-file").text(fields.filename);
            $("#photo-process-text").text(fields.text);
        } else {
            $("#photo-process-progress > .progress-bar").css("width", fields.progress+"%");
            $("#photo-process-text").text(fields.text);
        }
    }

    function clear_copy_status() {
        $('#card-copy-status').hide();
        $("#card-copy-dismiss").hide();
        $('#card-copy-status').removeClass("alert-success alert-danger").addClass("alert-info");
        copy_timer_id = -1;
    }

    function update_copy_status(fields) {
        if (fields.running && !copy_running) {
            if (copy_timer_id != -1) {
                window.clearTimeout(copy_timer_id);
                copy_timer_id = -1;
            }
            $('#card-copy-status').removeClass("alert-success alert-danger").addClass("alert-info");
            $('#card-copy-status').show();
            $("#card-copy-show-file").show();
            copy_running = true;
        } else
        if (!fields.running && copy_running) {
            if (copy_timer_id == -1) {
                if (fields.text.substr(0,5) == "Error") {
                    $('#card-copy-status').removeClass("alert-info").addClass("alert-danger");
                    $("#card-copy-dismiss").show();
                } else {
                    $('#card-copy-status').removeClass("alert-info").addClass("alert-success");
                    copy_timer_id = window.setTimeout(clear_copy_status, 10000);
                }
                $("#card-copy-show-file").hide();
            }
            copy_running = false;
        }

        if (fields.running) {
            $("#card-copy-progress > .progress-bar").css("width", fields.progress+"%");
            $("#photo-copy-file").text(fields.filename);
            $("#card-copy-text").text(fields.text);
            $("#card-copy-current-item").text(fields.current_item);
            $("#card-copy-total-items").text(fields.total_items);
        } else {
            $("#card-copy-progress > .progress-bar").css("width", fields.progress+"%");
            $("#card-copy-text").text(fields.text);
        }
    }

    function get_status() {
        $.ajax({
            url: "{% url 'status' %}",
            type: "GET",
            dataType: "json",
            timeout: 1000,
            success: function(json) {
                var tval = 1000;
                for (idx=0; idx < json.length; idx++) {
                    var fields=json[idx].fields;
                    if (fields.name == 'import') {
                        update_copy_status(fields);
                        if (copy_running) tval = 500;
                    } else
                    if (fields.name == 'process') {
                        update_process_status(fields);
                        if (process_running) tval = 500;
                    }
                }
                window.setTimeout(get_status, tval);
            },
            error: function(xhr, status, errorThrown) {
                var tval = 1000;
                if (status != "timeout") {
                    console.log("Error: "+errorThrown);
                    console.log("Status: "+status);
                    console.dir( xhr);
                    tval = 10000;
                }
                window.setTimeout(get_status, tval);
            }
        });
    }

    $(document).ready(function(){
        $("#photo-process-dismiss").on("click", clear_process_status);
        $("#photo-process-reload").on("click", function() { document.location.reload(true); });
        $("#card-copy-dismiss").on("click", clear_copy_status);
        get_status();
    });
</script>
{% endblock %}
{% block menu %}
{% include "menu.html" %}
{% endblock %}
{% block content %}
<div id="card-copy-status" class="alert alert-info" style="display: none">
    <div>
        <div class="pull-left">Importing media</div>
        <div class="pull-right">
            <span id="card-copy-current-item">1</span>/<span id="card-copy-total-items">100</span>
        </div>
    </div>
    <br>
    <div id="card-copy-progress" class="progress">
        <div class="progress-bar" role="progressbar">
        </div>
    </div>
    <span id="card-copy-show-file">
        <span id="photo-copy-file">img_2149.cr2</span>
    </span>
    <span id="card-copy-show-text">
        <span id="card-copy-text">Done</span>
    </span>
    <div id="card-copy-dismiss" class="pull-right" style="display: none">
        <button type="button" class="btn btn-default"  data-role="none">
            <span class="glyphicon glyphicon-remove"> Dismiss</span>
        </button>
    </div>
</div>
<div id="photo-process-status" class="alert alert-info" style="display: none">
    <div>Processing media</div>
    <div id="photo-process-progress" class="progress">
        <div class="progress-bar" role="progressbar">
        </div>
    </div>
    <span id="photo-process-show-file">
        <span id="photo-process-file">img_2149.cr2</span>
    </span>
    <span id="photo-process-show-text">
        <span id="photo-process-text"></span>
    </span>
    <div id="photo-process-dismiss" class="pull-right" style="display: none">
        <button type="button" class="btn btn-default"  data-role="none">
            <span class="glyphicon glyphicon-remove"> Dismiss</span>
        </button>
    </div>
    <div id="photo-process-reload" class="pull-right" style="display: none">
        <button type="button" class="btn btn-default"  data-role="none">
            <span class="glyphicon glyphicon-refresh"> Reload</span>
        </button>
    </div>
</div>

<div class="container">
    {% for catalog, media_list, count in all_media_list %}
    <div class="catalog row" id="{{catalog.id}}">
        <h3>
            {% if count == 0 %}
            <div><span class="glyphicon glyphicon-folder-close"></span> {{catalog}}</div>
            {% else %}
            <a href="{% url 'lighttable' catalog.id %}" data-ajax="false"><span class="glyphicon glyphicon-folder-close"></span> {{catalog}}</a>
            {% endif %}
        </h3>
    </div>
    <div class="row thumbnail-row">
        {% for media in media_list|slice:":6" %}
        <div class="col-xs-2">
            <a href="{% url 'lighttable' catalog.id %}#{{media.id}}" data-ajax="false">
                <div class="image-center-container thumbnail-image" style="background-image: url({{media|thumbnail}})">
                    <img class="image-center-overlay" src="{% static-image 'thumbnail' %}">
                </div>
            </a>
        </div>
        {% endfor %}
        {% if count > 18 %}
        <div class="center"><span class="glyphicon glyphicon-chevron-down"></span></div>
        {% endif %}
    </div>
    {% if media_list|length > 6 %}
    <div class="row thumbnail-row">
        {% for media in media_list|slice:"6:12" %}
        <div class="col-xs-2">
            <a href="{% url 'lighttable' catalog.id %}#{{media.id}}" data-ajax="false">
                <div class="image-center-container thumbnail-image" style="background-image: url({{media|thumbnail}})">
                    <img class="image-center-overlay" src="{% static-image 'thumbnail' %}">
                </div>
            </a>
        </div>
        {% endfor %}
        {% if count > 24 %}
        <div class="center"><span class="glyphicon glyphicon-chevron-down"></span></div>
        {% endif %}
    </div>
    {% endif %}
    {% if media_list|length > 12 %}
    <div class="row thumbnail-row">
        {% for media in media_list|slice:"12:18" %}
        <div class="col-xs-2">
            <a href="{% url 'lighttable' catalog.id %}#{{media.id}}" data-ajax="false">
                <div class="image-center-container thumbnail-image" style="background-image: url({{media|thumbnail}})">
                <img class="image-center-overlay" src="{% static-image 'thumbnail' %}">
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}
