<!DOCTYPE html>
{% load photoyotetags %}
{% load static %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PhotoYote</title>
    <link href="{% static 'jquery/jquery.mobile-1.4.5.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'jquery/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.mobile-1.4.5.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.panzoom.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'js/lighttable.js' %}"></script>
</head>
<body>
<style>
    .filmslide {
        padding: 0;
        margin-top: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .thumbnail {
        position: relative;
        z-index: 0;
        margin-bottom: 0;
    }

    .image-center-container {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: white;
    }

    .image-center-overlay {
        opacity: 0;
    }

    .tn-rejected {
        background-color: #c0c0c0;
    }

    .spacer {
        height: 1em;
    }

    .media-catalog-title {
        margin-left: 0.3em;
        margin-right: 0.3em;
    }

    .image-fullsize {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        margin: 0px;
    }

    .image-fullsize-close {
        position: absolute;
        top: 15x;
        right: 10px;
        width: 1em;
        height: 1em;
        z-index: 1;
        color: #a0a0a0;
        font-size: 36pt;
    }

    .video {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 0;
        margin: 0px;
    }

    .video-close {
        position: absolute;
        top: 15x;
        right: 10px;
        width: 1em;
        height: 1em;
        z-index: 1;
        color: #a0a0a0;
        font-size: 36pt;
    }

    #matrix {
        position: fixed;
        padding: 0;
        margin: 0;
        border-width: 0;
        top: 0;
        left: 0;
        overflow: hidden;
        transform-origin: 50% top;
    }

    .browser-col {
        padding: 0;
        margin-top: 2px;
        border-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .browser-reject-flag {
        position: absolute;
        right: 13%;
        top: 75%
    }

    .browser-export-flag {
        position: absolute;
        right: 22%;
        top: 75%
    }
</style>
<script>
    // $(document).ready() fires BEFORE the DOM has been completely calculated!
    $(window).load(function() {
        lighttable_setup({
            "catalog": "{{catalog}}",
            "media_list": [{% if filmstrip %}{% for media in filmstrip %}{{media.id}},{% endfor %}{% endif %}],
            "catalog_list": { {% for cat in catalog_list %}"{{cat.name}}": {{cat.id}},{% endfor %} },
            "urls": {
                "index": "{% url 'index' %}",
                "filmstrip": "{% url 'filmstrip' %}",
                "bulk": "{% url 'bulk' %}",
                "catalogid": "{% url 'catalogid' %}",
            },
            "start_date": "{{first.date|date:'Y-m-d H:i'}}",
            "end_date":   "{{last.date|date:'Y-m-d H:i'}}",
            "may_edit": "{{perms.photos.change_mediafile}}" == "True",
            "may_move": "{{perms.photos.move_mediafile}}" == "True",
            "prefetch": 10,
        });
    });
</script>
<div class="page-lighttable" style="display: none">
<div class="preview row">
    <div class="preview-container col-xs-9">
        <div class="preview-with-nav">
            <div class="image-preview-container ">
                <div id="image-preview"  class="image-center-container" style="background-image: url({% static-image 'unavailable' %})">
                    <img class="image-center-overlay image-responsive" src="{% static-image 'preview' %}">
                </div>
            </div>
        </div>
    </div>
    <div class="media-meta-data col-xs-3">
        <div class="row">
            <button id="media-prev" type="button" class="btn btn-default btn-xs col-xs-4" data-role="none">
                <span class="glyphicon glyphicon-menu-left"></span>
            </button>
            <a id="media-home" type="button" class="btn btn-default btn-xs col-xs-4" href="#"  data-role="none" data-ajax="false">
                <span class="glyphicon glyphicon-th"></span>
            </a>
            <button id="media-next" type="button" class="btn btn-default btn-xs col-xs-4" data-role="none">
                <span class="glyphicon glyphicon-menu-right"></span>
            </button>
        </div>

        <div class="spacer"></div>

        <div>File: <span id="media-file"></span></div>
        <div>Date: <span id="media-date"></span></div>
        <!-- div>Type: <span id="media-mime-type"></span></div -->
        <div class="spacer"></div>

        <div>Exposure: <span id="media-exposure"></span></div>
        <div>F Number: <span id="media-f-number"></span></div>
        <div>Focal Length: <span id="media-focal-length"></span></div>
        <div>ISO/Gain: <span id="media-gain"></span></div>
        <div class="spacer"></div>

        <div><span id="media-rating">
            <span class="glyphicon glyphicon-star-empty" data-rating="1"></span>
            <span class="glyphicon glyphicon-star-empty" data-rating="2"></span>
            <span class="glyphicon glyphicon-star-empty" data-rating="3"></span>
            <span class="glyphicon glyphicon-star-empty" data-rating="4"></span>
            <span class="glyphicon glyphicon-star-empty" data-rating="5"></span>
        </span></div>
        <div class="spacer"></div>

        {% dropdown_label name="media-label" has_icon=True %}

        <div class="spacer"></div>

        {% dropdown_catalog name="media-catalog" has_input_field=1 has_icon=True %}

        <div><button id="media-reject" type="button" class="btn btn-default" data-toggle="button" data-role="none">
            <div id="media-rejected-false"><span class="glyphicon glyphicon-ok" style="color: green"></span> Published</div>
            <div id="media-rejected-true" style="display: none"><span class="glyphicon glyphicon-trash" style="color: red"></span> Rejected</div>
        </button></div>

        <div class="spacer"></div>

        <div>
            <button id="media-bulk" type="button" class="btn btn-default" data-toggle="modal" data-role="none">
                <span class="glyphicon glyphicon-tasks"></span> Bulk Changes
            </button>
        </div>
    </div>
</div>

<div class="filmstrip">
    <div class="row">
        {% for sid in "123456"|make_list %}
        <div class="col-xs-2 filmslide" id="slide_{{sid}}" style="display: none">
            <div class="thumbnail">
                <div class="image-center-container thumbnail-image">
                    <img class="image-center-overlay" src="{% static-image 'thumbnail' %}">
                </div>
                <div class="caption">
                    <div class="filename"></div>
                    <div class="date"></div>

                    <div class="starrating"><span id="stars_{{sid}}">
                        {% star-rating 0 spacing=True fillup=3 %}
                    </span></div>

                    <div>
                        <span class="reject-flag" style="display: none">
                            <span class="glyphicon glyphicon-trash"></span>
                        </span>
                        <span class="media-label-flag" style="display: none">
                            <span class="glyphicon glyphicon-flag" style="color: grey"></span>
                        </span>
                        <span class="export-flag" style="display: none">
                            <span class="glyphicon glyphicon-export"></span>
                        </span>
                        <span class="glyphicon"></span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div> <!-- page-lighttable -->

<div class="page-image" data-role="none" style="display: none">
        <div class="image-fullsize" data-role="none"><img id="image-fullsize" class="panzoom"></div>
        <div class="image-fullsize-close">&times;</div>
</div>

<div class="page-video" style="display: none">
    <div class="video" data-role="none">
        <video id="video" controls data-role="none">
            <img src="{% static-image 'unavailable' %}">
        </video>
    </div>
    <div class="video-close">&times;</div>
</div>

<div class="page-browser">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
            <a class="navbar-brand" data-ajax="false" href="{% url 'index' %}#{{catalog.id}}">PhotoYote</a>

            <div class="collapse navbar-collapse navbar-right">
                <div class="btn-group" role="group" data-role="none">
                    <button type="button" id="browser-go-first" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-fast-backward"></span></button>
                    <button type="button" id="browser-go-back" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-step-backward"></span></button>
                    <button type="button" id="browser-go-back-1" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-backward"></span></button>
                    <button type="button" id="browser-go-bookmark" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-bookmark"></span></button>
                    <button type="button" id="browser-go-forward-1" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-forward"></span></button>
                    <button type="button" id="browser-go-forward" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-step-forward"></span></button>
                    <button type="button" id="browser-go-last" class="btn btn-default navbar-btn" data-role="none">
                        <span class="glyphicon glyphicon-fast-forward"></span></button>
                </div>

                {% dropdown_catalog name="browser-catalog" dropdown_class="btn-group" button_class="navbar-btn" %}

                <div class="btn-group">
                    <a href="#" class="navbar-text" role="button" id="browser-close"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            </div>
        </div>
    </nav>

    <div id="matrix" class="container">
    {% for row in "123456"|make_list %}
    <div class="row browser-row">
        {% for col in "123456"|make_list %}
        <div class="col-xs-2 browser-col">
            <div class="image-center-container thumbnail-image">
                <img class="image-center-overlay" src="{% static-image 'thumbnail' %}">
                <span class="browser-reject-flag" style="display:none"><span class="glyphicon glyphicon-trash"></span></span>
                <span class="browser-export-flag" style="display:none"><span class="glyphicon glyphicon-export"></span></span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
</div>

<div class="modal" id="bulk-action-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-role="none">
                    &times;
                </button>
                <h4 class="modal-title">Bulk Action</h4>
            </div>
            <div class="modal-body">
                <div class="row"><div class="col-xs-3">
                <div class="dropdown bulk-condition-attribute-dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bulk-condition-attribute" data-toggle="dropdown"  data-role="none">
                        <span id="bulk-condition-attribute-selected-icon"></span>
                        <span id="bulk-condition-attribute-selected">Select</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-asterisk"></span> All
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-star"></span> Rating
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-flag"></span> Label
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-folder-open"></span> Catalog
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-trash" style="color: red"></span> Rejected
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-ok" style="color: green"></span> Published
                        </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-attribute-link">
                            <span class="glyphicon glyphicon-calendar"></span> Timestamp
                        </a></li>
                    </ul>
                </div>
                </div><div class="col-xs-2">
                <div class="dropdown bulk-condition-operator-rating">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bulk-condition-operator-rating" data-toggle="dropdown"  data-role="none">
                        <span id="bulk-condition-operator-rating-selected" data-operator="eq"> = </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-rating-link" data-operator="eq"> = </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-rating-link" data-operator="ne"> &ne; </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-rating-link" data-operator="ge"> &ge; </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-rating-link" data-operator="le"> &le; </a></li>
                    </ul>
                </div>
                <div class="dropdown bulk-condition-operator-equal">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bulk-equal-operator" data-toggle="dropdown"  data-role="none">
                        <span id="bulk-condition-operator-equal-selected" data-operator="eq"> is </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-equal-link" data-operator="eq"> is </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-equal-link" data-operator="ne"> is not </a></li>
                    </ul>
                </div>
                    
                <div class="dropdown bulk-condition-operator-range">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bulk-range-operator" data-toggle="dropdown"  data-role="none">
                        <span id="bulk-condition-operator-range-selected" data-operator="eq"> between </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-range-link" data-operator="eq"> between </a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="bulk-condition-operator-range-link" data-operator="ne"> outside </a></li>
                    </ul>
                </div>
                </div><div class="col-xs-5">
                {% dropdown_rating name="bulk-condition-rating" %}
                {% dropdown_label name="bulk-condition-label" %}
                {% dropdown_catalog name="bulk-condition-catalog" %}
                <div class="form-group bulk-condition-date">
                    <div class="input-group date" id="bulk-condition-date-start">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                        <input type="text" class="form-control" data-role="none">
                    </div>
                    <div class="input-group date" id="bulk-condition-date-end">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-left"></span></span>
                        <input type="text" class="form-control" data-role="none">
                    </div>
                </div>
                </div><div class="col-xs-2"></div>
                </div>
                <hr>
                <div class="row"><div class="col-xs-4">
                <div class="dropdown bulk-action-attribute">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bulk-action-attribute" data-toggle="dropdown"  data-role="none">
                        <span id="bulk-action-attribute-selected-icon"></span>
                        <span id="bulk-action-attribute-selected">Action </span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" class=" bulk-action-edit"><a role="menuitem" tabindex="-1" href="#" class="bulk-action-attribute-link">
                            <span class="glyphicon glyphicon-star"></span> Set rating
                        </a></li>
                        <li role="presentation" class="bulk-action-edit"><a role="menuitem" tabindex="-1" href="#" class="bulk-action-attribute-link">
                            <span class="glyphicon glyphicon-flag"></span> Set label
                        </a></li>
                        <li role="presentation" class="bulk-action-move"><a role="menuitem" tabindex="-1" href="#" class="bulk-action-attribute-link">
                            <span class="glyphicon glyphicon-folder-open"></span> Move to catalog
                        </a></li>
                        <li role="presentation" class="bulk-action-edit"><a role="menuitem" tabindex="-1" href="#" class="bulk-action-attribute-link">
                            <span class="glyphicon glyphicon-trash" style="color: red"></span> Reject
                        </a></li>
                        <li role="presentation" class="bulk-action-edit"><a role="menuitem" tabindex="-1" href="#" class="bulk-action-attribute-link">
                            <span class="glyphicon glyphicon-ok" style="color: green"></span> Publish
                        </a></li>
                    </ul>
                </div>
                </div><div class="col-xs-4">
                {% dropdown_rating name="bulk-action-rating" %}
                {% dropdown_label name="bulk-action-label" %}
                {% dropdown_catalog name="bulk-action-catalog" has_input_field=True %}
                <div class="col-xs-4"></div>
                </div>    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="bulk-cancel" data-role="none">
                    <span class="glyphicon glyphicon-remove"> Cancel</span>
                </button>
                <button type="button" id="bulk-submit" class="btn btn-primary" data-role="none">
                    <span class="glyphicon glyphicon-ok"> Commit</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div style="display: none">
    {% csrf_token %}
</div>
</body>
</html>